#order_title{
    width: 90%;
    margin: 40px auto;
    font-weight: 700;
}

.all_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_orders_pending{
    width: 50%;
}

.container_orders{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
}

.no_orders{
    margin: 0%;
    font-weight: 700;
}

.order{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.left_order{
    display: flex;
    flex-direction: column;
}

.order h3{
    margin-bottom: 20px;
}

.client_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.client_profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.client_profile p{
    margin: 0%;
}

.button_description{
    padding: 10px;
    margin: 0%;
}

.right_order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.right_order h4{
    text-align: center;
}

.custom_modal{
    border: none;
    border-radius: 10px;
    background-color: #f2ebe3;
    padding: 30px;
    position: relative;
}

.btn_close_modal{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    padding: 0%;
    background-color: #f2ebe3;
}

.info_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_description h1{
    font-weight: 600;
    margin-bottom: 0px;
}

.info_description p{
    width: 100%;
    height: 200px;
    margin: 30px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.job_application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom_modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.status_order{
    padding: 10px;
    border-radius: 10px;  
    margin: auto;
    font-weight: 600;
}

.text_completed{
    color: green;
    background-color: rgba(0, 128, 0, 0.281);
}

.text_cancelled{
    color: rgb(179, 3, 3);
    background-color: rgba(255, 0, 0, 0.384);
}

.text_pending_approval{
    color: #854D0E;
    background-color: #FEF08A;
}

.text_pending_payment{
    color: #854D0E;
    background-color: #FEF08A;
}

.text_in_progress{
    color: #1E40AF;
    background-color: #BFDBFE;
}