{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/my_hires.css' %}">
{% endblock styles %}

{% block content %}

    <h2 id="order_title">My hires</h2>
    <div class="container_orders">
        {% for order in orders %}
            <div class="order">
                <div class="left_order">
                    <h3> {{ order.service.title }} </h3>
                    <div class="client_profile">
                        {% if order.service.freelancer.user.image.name == 'default-avatar.jpg' %}
                            <img src="{% static 'images/default-avatar.jpg' %}" alt="Profile Picture">
                        {% else %}
                            <img src="{{ order.service.freelancer.user.image.url }}" alt="Profile Picture">
                        {% endif %}
                        <p>{{ order.service.freelancer.user.username}}</p>
                    </div>
                </div>
                <div class="right_order">
                    <p class="{{order.status_color}} status_order" >{{order.status}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}