{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/service_orders.css' %}">
{% endblock styles %}

{% block content %}

    <h2 id="job_application_title">{% translate "My Service Orders" %}</h2>
    <div class="container_orders">
        {% if orders %}
            {% for order in orders %}
                <div class="job_application">
                    <div class="left_job_application">
                        <h3> {{ order.service.title }} </h3>
                        <div class="client_profile">
                            {% if order.client.user.image.name == 'default-avatar.jpg' %}
                                <img src="{% static 'images/default-avatar.jpg' %}" alt="Profile Picture">
                            {% else %}
                                <img src="{{ order.client.user.image.url }}" alt="Profile Picture">
                            {% endif %}
                            <p>{{ order.client.user.username}}</p>
                        </div>
                    </div>
                    <div class="right_job_application">
                        <p class="{{order.status_color}} status_job_application" >{% translate order.status %}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no_job_applications">{% translate "You don't have any order yet" %}</p>
        {% endif %}
    </div>

{% endblock content %}