{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/all_reviews.css' %}">
{% endblock styles %}

{% block content %}
<div class="reviews_container">
    <div class="reviews_content">
        <a href="{% url 'home' %}" class="go_back">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 14l-4 -4l4 -4" />
            <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
        </svg> Back
        </a>
        <h3 class="title">Recent Reviews</h3>
        {% if reviews %}
            {% for review in reviews %}
            <div class="review">
                <div class="review_header">
                    <span class="reviewer_name">{{ review.client.user.username }}</span>
                    <span class="review_rating">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        {{ review.rating }}
                    </span>
                </div>
                <p class="review_text">{{ review.comment }}</p>
                <p class="review_text date">Published in: {{ review.creation_date }}</small>
            </div>
            {% endfor %}
        {% else %}
            <p class="no_reviews">No reviews yet</p>
        {% endif %}
    </div>
</div>
<script src="{% static 'scripts/all_reviews.js' %}"></script>
{% endblock %}