{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/my_services.css' %}">
{% endblock styles %}

{% block content %}
<div>
    <div class="featured_header">
        <h1>{% translate "My Services" %}</h1>
    </div>
    <div class="all_services_container">
        <div class="service_container" onclick="enterService()" data-url="{% url 'create_service' %}">
            <div class="new_service_card">
                <img src="{% static 'images/plus.svg' %}" alt="Create">
            </div>
            <div class="new_service_info">
                <b>{% translate "Add service" %}</b>
                <p>{% translate "Create new service" %}</p>
            </div>
        </div>
        {% for service in services %}
        <div class="service_container" data-url="{% url 'service_view' service.id %}">
            <div class="service_image">
                {% if service.image and service.image.name != "default-service.jpg" %}
                    <img src="{{ service.image.url }}" alt="{{ service.title }}">
                {% else %}
                    <img src="{% static 'images/default-service.jpg' %}" alt="{{ service.title }}">
                {% endif %}
            </div>
            <div class="service_info">
                <div class="service_info_top">
                    <div class="service_info_profile">
                        {% if user.image and user.image.name != "default-avatar.jpg" %}
                            <img src="{{ user.image.url }}" alt="{{ user.name }}" >
                        {% else %}
                            <img src="{% static 'images/default-avatar.jpg' %}" alt="{{ user.name }}">
                        {% endif %}
                        <b> {{ service.freelancer }} </b>
                    </div>
                    <div class="service_info_rating">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                        </svg>
                        <div>
                            <p> {{ service.rating }} </p>
                        </div>
                    </div>
                </div>
                <div class="service_info_bottom" >
                    <a href="{% url 'service_view' service.id %}">
                        {{ service.title }}
                    </a>
                    <b>{% translate "Price: $" %}{{ service.price }} </b>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'scripts/my_services.js' %}"></script>
{% endblock %}


