{% extends 'base.html' %}
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/service_view.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card text-center border-dashed" style="height: 100%; position: relative;">
            <a href="{% url 'my_services' %}" class="go_back">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-back-up">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 14l-4 -4l4 -4" />
                    <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
                </svg>
            </a>
            <h2 class="text-muted">{{ service.title }}</h2>
            <h5 class="text-muted">{{ service.freelancer }}</h5>
            <div class="col-md-6">
                <img src="{% if service.image and service.image.name != "default-service.jpg" %}{{ service.image.url }}{% else %}{% static 'images/default-service.jpg' %}{% endif %}" class="img-fluid" alt="{{ service.title }}">
            </div>
            <div class="col-md-6">
                <p class="text-muted">{{ service.description }}</p>
                <p class="text-muted"><strong>{{ service.price }} USD</strong></p>
                <p class="text-muted">{{ service.rating }}</p>
                <p class="text-muted">{{ service.delivery_time }} days</p>
                {% if user.freelancer == service.freelancer %}
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}